body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cursor-label::after {
  content: "Hrushi0406";
  @apply bg-red-500 text-white text-xs px-2 py-0.5 rounded absolute transform -translate-y-full;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
